body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('../img/Fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.contenedor-promociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta-promocion {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('../img/Logo.png');
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(193, 18, 31, 0.4);
    width: 280px;
    padding: 20px;
    transition: transform 0.2s ease;
}

.tarjeta-promocion:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(193, 18, 31, 0.8);
}

.tarjeta-promocion h2 {
    margin-top: 0;
    color: #0077b6;
}

.tarjeta-promocion p {
    margin: 10px 0;
    color: black;
    font-size: 14px;
}
